body{
    margin: 0px;
    padding: 0px;
}
#blur{
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: blur(0px);
    z-index: -1;

}
.alpha{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.text-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt{
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    color: white;
    font-size: 5rem;
}
.main-text{
    position: fixed;
    top: 24%;
    left: 45%;
    font-size: 25px;
    padding: 10% 0;
    color: white;
}